<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>home</title>
</head>
<body>
<h1>Home</h1>
<form method="post" action="/home/index">
    <div>
        <label>ID</label>

        <input type="text">
    </div>
    <div>
        <label>Name</label>
        <input type="text">
    </div>
    <div>
        <label>Type code</label>
        <input type="text">
    </div>
    <div>
        <label>Issue date time</label>
        <input type="text">
    </div>
    <div>
        <label>Purpose</label>
        <input type="text">
    </div>
    <div>
        <label>Purpose code</label>
        <input type="text">
    </div>
    <div>
        <label>Global id</label>
        <input type="text">
    </div>
    <div>
        <label>Creation date time</label>
        <input type="text">
    </div>
</form>

</body>
</html>