<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Example Invoice Preview</title>
</head>
<body>
<h1>Example Invoice Preview</h1>
<table border="1" th:object="${exchangedDocument}">
    <tr>
        <td>ID</td>
        <td th:text="${exchangedDocument?.id}">
    </tr>
    <tr>
        <td>Name</td>
        <td th:text="${exchangedDocument?.name}"/>
    </tr>
    <tr>
        <td>Type Code</td>
        <td th:text="${exchangedDocument?.typeCode}"/>
    </tr>
    <tr>
        <td>หมายเหตุ</td>
        <td></td>
    </tr>
</table>
</body>
</html>