<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<h1>Home</h1>
<h3>Tax Invoice</h3>
<h4>Seller</h4>
<form method="post" th:action="@{/taxinvoice/create}">
    <div>
        <label>ID</label>
        <input type="text" th:field="${sellerForm.id}">
    </div>
    <div>
        <label>Global ID</label>
        <input type="text" th:field="${sellerForm.globalId}">
    </div>
    <div>
        <label>Name</label>
        <input type="text" th:field="${sellerForm.name}">
    </div>
    <div>
        <label>Tax Registration ID</label>
        <input type="text" th:field="${sellerForm.taxRegistrationId}">
    </div>
    <div>
        <label>Branch ID</label>
        <input type="text" th:field="${sellerForm.branchId}">
    </div>
    <div>
        <label>Email</label>
        <input type="text" th:field="${sellerForm.email}">
    </div>
    <div th:each="sellerAddress, stat : ${sellerForm.addressForm}">
        <div>
            <label>Building Name</label>
            <input type="text" th:field="${sellerAddress.building}">
        </div>
        <div>
            <label>Building No.</label>
            <input type="text" th:field="*{sellerAddress.buildingNumber}">
        </div>
        <div>
            <label>Alley</label>
            <input type="text" th:field="*{sellerAddress.soi}">
        </div>
        <div>
            <label>Village</label>
            <input type="text" th:field="*{sellerAddress.village}">
        </div>
        <div>
            <label>Village No.</label>
            <input type="text" th:field="*{sellerAddress.moo}">
        </div>
        <div>
            <label>Street name</label>
            <input type="text" th:field="*{sellerAddress.streetName}">
        </div>
        <div>
            <label>Sub-district</label>
            <input type="text" th:field="*{sellerAddress.citySub}">
        </div>
        <div>
            <label>District</label>
            <input type="text" th:field="*{sellerAddress.city}">
        </div>
        <div>
            <label>Province ID</label>
            <input type="text" th:field="*{sellerAddress.countrySub}">
        </div>
        <div>
            <label>Country ID</label>
            <input type="text" th:field="*{sellerAddress.country}">
        </div>
        <div>
            <label>Postal Code</label>
            <input type="text" th:field="*{sellerAddress.postCode}">
        </div>
    </div>
    <div>
        <input type="submit" value="Create" name="create"/>
    </div>
</form>

</body>
</html>