<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<h1>Home</h1>
<h3>Tax Invoice</h3>
<form method="post" th:action="@{/taxinvoice/create}" th:object="${exchangedDocument}">
    <div>
        <label>ID</label>

        <input type="text" th:field="*{id}">
    </div>
    <div>
        <label>Name</label>
        <input type="text" th:field="*{name}">
    </div>
    <div>
        <label>Type code</label>
        <input type="text" th:field="*{typeCode}">
    </div>
    <div>
        <label>Issue date time</label>
        <input type="text">
    </div>
    <div>
        <label>Purpose</label>
        <input type="text" th:field="*{purpose}">
    </div>
    <div>
        <label>Purpose code</label>
        <input type="text" th:field="*{purposeCode}">
    </div>
    <div>
        <label>Global id</label>
        <input type="text" th:field="*{globalId}">
    </div>
    <div>
        <label>Creation date time</label>
        <input type="text">
    </div>
    <h3>Included Note</h3>
    <div>
        <label>Subject</label>
        <input type="text">
    </div>
    <div>
        <label>Content</label>
        <input type="text">
    </div>
    <div>
        <input type="submit" value="Create" name="create"/>
    </div>
</form>

</body>
</html>